<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="ConStr" connectionString="Data Source=192.168.0.249;Initial Catalog=LOL;User ID=riot;Password=1234"/>
    <add name="lolApiKey" connectionString="RGAPI-c660c75b-fa04-4796-aa77-101eaf04a822" />
  </connectionStrings>
</configuration>