<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="ConStr" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\GDC22\Desktop\RealLOL\LOLAPI\LOLData.mdf;Integrated Security=True"/>
    <add name="lolApiKey" connectionString="RGAPI-aa96324a-b413-4db4-b1c7-cafa52c1fc67" />
  </connectionStrings>
</configuration>